{% extends 'base.html.twig' %}

{% block body %}
    <section class="container mt-5">
        <div class="row">
            <div class="col-xl-12">
                <h1 class="text-center">Nový příspěvek</h1>
            </div>
            {{ include('post/_form.html.twig') }}
        </div>
    </section>
{% endblock %}
